/* Universal & reusable styles */

html {
  font-size: 16px;
  font-family: "Hind", sans-serif;
  color: #666;
}

.container {
  max-width: 1200px;
  margin: auto;
}

header {
  display: flex;
  justify-content: space-between;
  height: 4rem;
  padding: 0 1.5rem;
  border-bottom: 1px solid #dedede;
}

h1, h2 {
  font-family: "Ubuntu", sans-serif;
  margin-bottom: 1.5rem;
  color: #313638;
  font-weight: 700;
}

h1 {
  font-size: 2rem;
}

.courses h1,
.thesis-exhibit h1 {
  text-align: center;
}

h2 {
  font-size: 1.2rem;
  line-height: 1.3;
}

button {
  width: 100%;
  padding: 1rem;
  color: white;
  font-size: 0.8rem;
  text-transform: uppercase;
  background-color: #A3606D;
  border: none;
}

p {
  line-height: 1.3;
  margin-bottom: .5rem;
}

footer {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  border-top: 1px solid #dedede;
  font-size: .75rem;
  font-weight: 300;
}

.banner img,
.info-image img,
.course-image img,
.thesis-image img {
  width: 100%;
  height: auto;
}

.info-callout img,
.thesis-callout video {
  max-width: 100%;
  height: auto;
  margin-bottom: 1.5rem;
}

.banner-image,
.info-callout {
  max-width: 55%;
  padding: 2rem;
}

.info-image,
.thesis-image {
  max-width: 35%;
}

.info-text,
.thesis-image-text {
  margin-left: 1rem;
}

.info,
.thesis-info {
  display: flex;
  justify-content: space-between;
}

.info-item,
.thesis-item {
  display: flex;
  margin-bottom: 1rem;
}

/* Header styles */

.logo {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  text-transform: uppercase;
}

.logo-bold {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  color: #A3606D;
}

.logo-light {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  color: #666;
}

.desktop-nav {
  display: flex;
  align-items: center;
}

.desktop-nav li {
  display: inline;
}

.desktop-nav a {
  margin-left: 1rem;
  color: #A3606D;
}

/* Banner styles */

.banner {
  display: flex;
  align-items: center;
  background-color: rgba(238,207,109,0.2);
}

.banner-content {
  max-width: 25%;
  padding-left: 1rem;
}

.banner-content p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

/* Info styles */

.attribution {
  font-weight: 300;
  margin-top: 1rem;
}

.info-list {
  padding: 2rem 1rem;
}

.info-text a {
  color: #A3606D;
}

/* Course styles */

.courses {
  background-color: rgba(238,207,109,0.2);
  padding: 2rem 4.5rem;
}

.course-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.course {
  background-color: white;
  max-width: 28%;
  margin: 1rem;
}

.course-text {
  padding: 1.5rem;
}

.course-label {
  text-transform: uppercase;
}

/* Thesis styles */

.thesis-exhibit {
  padding: 2rem 0;
}

.thesis-exhibit h1 {
  margin-bottom: 2rem;
}

.thesis-callout {
  max-width: 55%;
  padding: 0 2rem;
}

.thesis-list {
  padding: 0 1rem;
}

/* Footer styles */

footer a {
  margin-left: 1rem;
  color: #A3606D;
}
