/* Universal & reusable styles */

html {
  font-size: 16px;
  font-family: "Hind", sans-serif;
  color: #666;
}

.container {
  max-width: 1280px;
  margin: auto;
}

header {
  padding: 1rem 1.5rem;
}

h1, h2 {
  font-family: "Ubuntu", sans-serif;
  margin-bottom: 1.5rem;
  color: #313638;
  font-weight: 700;
}

h1 {
  font-size: 2rem;
}

.courses h1,
.thesis-exhibit h1 {
  text-align: center;
}

h2 {
  font-size: 1.2rem;
  line-height: 1.3;
}

button {
  width: 100%;
  padding: 1rem;
  color: white;
  font-size: 0.8rem;
  text-transform: uppercase;
  background-color: #34666E;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #24464B
}

button:focus {
  outline: dotted #24464B 1px;
  background-color: #24464B
}

p {
  line-height: 1.3;
  margin-bottom: .5rem;
}

a {
  color: #34666E;
}

a:hover {
  color: #24464B
}

a:focus {
  outline: dotted #24464B 1px;
  color: #24464B
}

footer {
  display: flex;
  justify-content: space-between;
  background-color: #373F51;
  color: white;
  padding: 1rem 2rem;
  font-size: .75rem;
  font-weight: 300;
}

footer a,
footer a:hover {
  color: inherit;
}

footer a:focus {
  outline: dotted white 1px;
  color: inherit;
}

.banner img,
.info-image-desktop img,
.thesis-image img {
  width: 100%;
  height: auto;
}

.info-callout img,
.thesis-callout video {
  max-width: 100%;
  height: auto;
  margin-bottom: 1.5rem;
}

.banner-image,
.info-callout {
  max-width: 55%;
  padding: 2rem;
}

.info-image-desktop,
.thesis-image {
  max-width: 35%;
}

.info-text,
.thesis-image-text {
  margin-left: 1rem;
}

.info,
.thesis-info {
  display: flex;
  justify-content: space-between;
}

.info-item,
.thesis-item {
  display: flex;
  padding: 1rem;
  border-top: 1px solid rgba(169,188,208,0.5);
}

.info-item:last-child,
.thesis-item:last-child {
  border-bottom: 1px solid rgba(169,188,208,0.5);
}

.desktop-nav a,
footer a {
  margin-left: 1rem;
}

/* Header styles */

.logo {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  text-transform: uppercase;
}

a.logo {
  text-decoration: none;
}

.logo-bold {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  color: #34666E;
}

.logo-light {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  color: #666;
}

.desktop-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.desktop-nav li {
  display: inline;
}

.mobile-nav {
  display: none;
}

/* Banner styles */

.banner {
  display: flex;
  align-items: center;
  background-color: rgba(169,188,208,0.5);
}

.banner-content {
  max-width: 25%;
  padding-left: 1rem;
}

.banner-content p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

/* Info styles */

.attribution {
  font-weight: 300;
  margin-top: 1rem;
  margin-bottom: 0;
}

.info-list {
  padding: 2rem 0;
}

.info-image-mobile {
  display: none;
}

/* Course styles */

.courses {
  background-color: rgba(169,188,208,0.5);
  padding: 2rem 3rem;
  width: inherit;
}

.course-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.course {
  background-color: white;
  max-width: 30%;
  margin: .75rem;
  box-shadow: 1px 1px 2px 2px rgba(102,102,102,0.1);
}

.course-image {
  height: 6rem;
  width: auto;
  display: flex;
  align-items: center;
}

#software {
  background:
    linear-gradient(
      rgba(55,63,81,0.7),
      rgba(55,63,81,0.7)),
    url("../images/course-software.jpg") no-repeat;
  background-size: cover;
}

#art {
  background:
    linear-gradient(
      rgba(55,63,81,0.7),
      rgba(55,63,81,0.7)),
    url("../images/course-computer-art.jpg") no-repeat;
  background-size: cover;
}

#design {
  background:
    linear-gradient(
      rgba(55,63,81,0.7),
      rgba(55,63,81,0.7)),
    url("../images/course-design.jpg") no-repeat;
  background-size: cover;
}

#data {
  background:
    linear-gradient(
      rgba(55,63,81,0.7),
      rgba(55,63,81,0.7)),
    url("../images/course-data.jpg") no-repeat;
  background-size: cover;
}

#business {
  background:
    linear-gradient(
      rgba(55,63,81,0.7),
      rgba(55,63,81,0.7)),
    url("../images/course-business.jpg") no-repeat;
  background-size: cover;
}

#marketing {
  background:
    linear-gradient(
      rgba(55,63,81,0.7),
      rgba(55,63,81,0.7)),
    url("../images/course-marketing.jpg") no-repeat;
  background-size: cover;
}

.course-image h2 {
  margin-bottom: 0;
  margin-left: 1.5rem;
  color: white;
}

.course-text {
  padding: 1.5rem 1.5rem 0.5rem 1.5rem;
}

.course-label {
  text-transform: uppercase;
  color: #373F51;
}

/* Thesis styles */

.thesis-exhibit {
  padding: 2rem 0;
}

.thesis-exhibit h1 {
  margin-bottom: 2rem;
}

.thesis-callout {
  max-width: 55%;
  padding: 0 2rem;
}

/* MOBILE STYLES */
@media only screen and (max-width: 480px) {

  header {
    padding: 1rem 1.5rem .5rem 1.5rem;
  }

  header span,
  .desktop-nav,
  .info-callout,
  .info-image-desktop,
  .course-text,
  .thesis-list,
  .thesis-callout h2,
  .thesis-callout p,
  .footer-links {
    display: none;
  }

  .mobile-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .banner {
    flex-direction: column;
  }

  .banner-image {
    max-width: 100%;
    padding: 0;
  }

  .banner-content {
    max-width: 100%;
    padding: 2rem 1rem;
  }

  .info-list {
    padding: 0 0;
    max-width: 100%;
  }

  .info-item {
    flex-direction: column;
  }

  .info-text {
    margin-left: 0;
  }

  .info-text h2 {
    margin-bottom: 1rem;
  }

  .info-image-mobile {
    display: block;
    max-width: 100%;
    margin-bottom: 1rem;
  }

  .info-image-mobile img {
    width: 100%;
    height: auto;
  }

  .courses {
    padding: 1rem;
  }

  .course-list {
    flex-direction: column;
    align-items: center;
  }

  .course {
    min-width: 100%;
    margin: .5rem 0;
    box-shadow: 0 0 0 0;
  }

  .course-image {
    height: 5rem;
  }

  #software,
  #art,
  #design,
  #data,
  #business,
  #marketing {
    background-position: center;
  }

  .thesis-exhibit {
    padding: 1rem 0;
  }

  .thesis-callout {
    max-width: 100%;
    padding: 0;
  }

  .thesis-callout video {
    margin-bottom: .5rem;
  }

  footer {
    padding: 1rem;
  }

}
